
img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.event-card{
    width: 31%;
    margin-left: 1%;
    margin-right: 1%;
    box-shadow: 1px 1px 5px gray;
    border-radius: 5px;
    background-color: #B54648;
    color: white;
    text-align: left;
}

.event-card-info {
    padding: 5px;
}

